matplotlib==3.7.1
numpy==1.24.2
pandas==1.5.3
Pillow==10.0.0
plotly==5.13.1
ruptures==1.1.7
scikit_learn==1.2.1
scipy==1.11.2
seaborn==0.12.2
streamlit==1.19.0
tensorflow==2.11.0
tensorflow_intel==2.11.0

